// Add your fonts here
// 
// USAGE
//
// @font-face
//   font-family: 'FontExample';
//   src: url('FontExample.eot?#iefix') format('embedded-opentype'),  url('FontExample.otf')  format('opentype'),
//        url('FontExample.woff') format('woff'), url('FontExample.ttf')  format('truetype'), url('FontExample.svg#SackersGothicStd-Medium') format('svg');
//   font-weight: normal;
//   font-style normal;

// .fontExample
//   font-family: 'fontExample', 'sans-serif';

@font-face 
  font-family: 'intro_regular';
  src: url('intro-webfont.woff2') format('woff2'),
       url('intro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'alternategothic2_btregular';
  src: url('alternate-_gothic-webfont.woff2') format('woff2'),
       url('alternate-_gothic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'ChaparralPro';
  src: url('ChaparralPro-Bold.eot?#iefix') format('embedded-opentype'),  url('ChaparralPro-Bold.otf')  format('opentype'),
       url('ChaparralPro-Bold.woff') format('woff'), url('ChaparralPro-Bold.ttf')  format('truetype'), url('ChaparralPro-Bold.svg#ChaparralPro-Bold') format('svg');
  font-weight: 800;
  font-style: normal;
  
@font-face
  font-family: 'ChaparralPro';
  src: url('ChaparralPro-BoldIt.eot?#iefix') format('embedded-opentype'),  url('ChaparralPro-BoldIt.otf')  format('opentype'),
       url('ChaparralPro-BoldIt.woff') format('woff'), url('ChaparralPro-BoldIt.ttf')  format('truetype'), url('ChaparralPro-BoldIt.svg#ChaparralPro-BoldIt') format('svg');
  font-weight: 800;
  font-style: italic;

@font-face 
  font-family: 'ChaparralPro';
  src: url('ChaparralPro-Italic.eot?#iefix') format('embedded-opentype'),  url('ChaparralPro-Italic.otf')  format('opentype'),
       url('ChaparralPro-Italic.woff') format('woff'), url('ChaparralPro-Italic.ttf')  format('truetype'), url('ChaparralPro-Italic.svg#ChaparralPro-Italic') format('svg');
  font-weight: normal;
  font-style: italic;

@font-face
  font-family: 'ChaparralPro';
  src: url('ChaparralPro-Regular.eot?#iefix') format('embedded-opentype'),  url('ChaparralPro-Regular.otf')  format('opentype'),
       url('ChaparralPro-Regular.woff') format('woff'), url('ChaparralPro-Regular.ttf')  format('truetype'), url('ChaparralPro-Regular.svg#ChaparralPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  
.title-intro
  font-family: 'intro_regular', 'sans-serif';
  letter-spacing 1.5px

.alternate
  font-family 'alternategothic2_btregular'
  letter-spacing 1.7px

.fsz14
  font-size 14px