.btn
  transition ease background-color 200ms, ease color 200ms
  text-transform: uppercase
  border-radius 100px
  display inline-block
  border 2px solid white
  line-height: 100%
  letter-spacing 1px
  font-family: 'alternategothic2_btregular'
  padding 0.25rem 2rem
  position relative
  &:active
    top 2px
  &.btn-transparent-black
    border-color #000
    padding-top 5px
    &:hover
      background #000
      color #fff
  &.btn-big
    font-size 20px
    padding 0.75rem 4rem
  &.btn-white
    background-color white
    color black
    &:hover
      background transparent
      color white