.footer-wrapper
  background #000
  .heading
    color rgba(#FFF,0.6)
    font-style italic

.flex-footer
  width 100%
  .item-logo
    width 50%
    padding-right:1rem
  .item-nav
    width 50%
  .item-logo-image
    padding-right:3rem
  a
    display: inline-block
    border-bottom 1px solid #000
    line-height:120%
    &:hover
      border-bottom 1px solid
  @media all and (max-width 750px)
    flex-direction column
    .item-logo,
    .item-nav
      width 100%
    .item-logo
      padding-bottom:3rem
    .item-nav .flex-3
      text-align: center
  @media mobile
    .item-nav .flex-3
      flex-direction row !important
      .item
        width ( 100% / 3 )
        text-align left