.content-form
  .field, .field-submit
    margin-bottom:1rem
  .text
    width 100%
    padding 0.5rem
  .submit
    padding 0.5rem 1rem
  .text, .submit
    font-size 1rem
    &:focus 
      outline 0

// Contact form 7 Ready
.wpcf7-not-valid 
    border 2px solid red
    & + span
      text-align left
      display: block
      padding: 0.5rem 0.75rem
      font-size 0.85rem
  .wpcf7-response-output
    margin-top:1rem
    padding 1rem
    position relative
    background rgba(white,0.3)
    &.wpcf7-display-none
      display: none
    &.wpcf7-validation-errors
      background red
    &.wpcf7-validation-errors
      background red
    &.wpcf7-mail-sent-ok
      background blue

.form-newsletter
  max-width 550px
  width 100%
  position relative
  margin 0 auto
  .text
    transition ease border-color 200ms, ease box-shadow 200ms
    border 2px solid #000
    padding 1rem 2rem
    width 100%
    border-radius 50px
    font-size 1rem
    font-family 'ChaparralPro'
    &:focus
      // border-color #666
      box-shadow inset 0 0 10px rgba(black,0.3)
    +placeholder()
      font-family 'ChaparralPro'
      font-size 1rem
  .submit
    transition ease color 200ms
    font-family 'alternategothic2_btregular'
    font-size 1.5rem
    text-transform: uppercase
    line-height:100%
    position absolute
    right 2rem
    top 1rem
    background transparent
    &:focus
      color #666