//  Local variables
base = 2
limit = 4

// Affects all grids
[class^="span-"]
	clear()

//============================================================
// Float grid System
//============================================================

@media mobile
	[class^='span-'] .item
		float:none;
		display:block;
		width:100%;
	for i in 1 .. limit
		.span-{i} .item
			float:none;
			display:block;
			width:100%;


@media tablet
	for i in base .. 3
		.span-{i} .item
			float left
			width 50%
	for i in 4 .. limit
		.span-{i} .item
			float left
			width (100%/3)


@media desktop
	for i in base .. limit
		.span-{i} .item
			float left
			width (100%/i)

//============================================================
// Grid System FLEX
//============================================================

[class*="flex-"]
	flex-display()

.flex-middle
	align-items center
.flex-top
	align-items stretch
.flex-separate
	justify-content space-between

for i in 1 .. 4
	.flex-{i}
		flex-flow wrap
		flex-direction row
		@media nonmobile
			& > .item
				width (100/i)%
		@media mobile
			flex-direction: column
			& > .item
				width 100%

for i in 1 .. 10
	.flex-gap-{i}
		margin-left unit(-(i/2),'rem')
		margin-right unit(-(i/2),'rem')
		& > .item
			padding-left unit(i/2,'rem')
			padding-right unit(i/2,'rem')