.header-wrapper
  position absolute
  width 100%
  top 0
  left 0
  z-index 300
  nav a
    text-transform: uppercase
    font-family:'alternategothic2_btregular'
    color white
  @media desktop
    padding 1rem 2rem
    ul
      width 100%
      max-width:1000px
      margin-left auto
      margin-right auto
      display flex
      flex-direction row
      text-align: center
      justify-content space-between
      align-items center
    li
      padding 0 1rem
      
    .logo
      padding 0 2rem
      a
        margin-top: 0
    nav a
      margin-top:-1.5rem
      display block
      padding 0.5rem
      font-size 20px
      letter-spacing 1.25px
    li:first-child
      padding-left: 0
      a
        padding-left:0
    li:last-child 
      padding-right:0
      a
        padding-right:0
  @media nondesktop
    li
      display: block
    li:not(.logo) a
      transition background ease 200ms
      z-index:200
      background #000
      text-align: center
      display: block
      padding 1rem 0
      position relative
      &:after
        transition background ease 200ms, left ease 200ms, right ease 200ms
        content ''
        position absolute
        bottom 0
        left 30%
        right 30%
        height 1px
        background-color rgba(#CCC,0.2)
      &:hover
        background lighten(#000,10%)
        &:after
          background-color rgba(#CCC,0.4)
          left 25%
          right 25%
    li:not(.logo):last-child a:after
      display: none
    .logo
      text-align: center
      display: block
      position: absolute
      width 100%
      top 0
      left 0
      z-index:100
      img
        margin 0 auto
      
.trigger-wrapper
  position absolute
  right 1rem
  top 1rem
  z-index:300
  @media desktop
    display: none 
    
// Menu interaction
@media nondesktop
  .header-wrapper
    nav ul li:not(.logo)
      background #000
      z-index:250
      transition ease transform 300ms
      display: none
      // transform translateY(-300px)
    &.menu-active nav 
      li:last-child
        box-shadow 0 20px 20px #000
      li:not(.logo)
        display: block
    .logo
      margin-top:3rem
      img
        max-width 70%

.header-mobile-trigger {
  
  $width = 45px;
  $height = 5px;
  $padding = 7px;
  $color = #fff;
  
  position: relative;
  width:$width;
  display: block;
  padding-top:$padding;
  padding-bottom:$padding;
  text-decoration: none;
  transform:scale(0.5);
  
  span {
   transition:ease all 100ms;
   display: block;
   width:100%;
   height:$height;
   margin-top:$height;
   border-top:$height solid $color;

   &:after, 
   &:before{
    transition:ease all 200ms;
    content:"";
    position: absolute;
    left:0;
    height:$height;
    width:100%;
    background-color:$color;
  }
    &:before { top:0; }
    &:after { bottom:0; }
  }
  
  &.active span,
  // &:hover span,
  &:active span {
    border-color:transparent;
    &:before {
      transform:rotate(45deg) translate3d(8px,8px,0);
    }
    &:after {
      transform:rotate(-45deg) translate3d(8.5px,-8.5px,0);
    }
  }
  
}