.hero-wrapper
  width 100%
  height 100vh
  max-height 600px
  min-height 580px
  overflow: hidden
  position relative
  z-index 200
  background black
  .hero-content
    text-align: center
    position relative
    z-index 100
    position: relative;
    top: 50%;
    transform: translateY(-50%)
  .hero-bg
    absolute-full()
    background black
    background-size cover
    background-position bottom center
    // background-attachment fixed
    background-repeat no-repeat
    &:after
      absolute-full()
      content ""
      // background-color rgba(#000,0.3)
  h1
    line-height:130%
    font-size 44px
    letter-spacing 2.75px
  p
    font-size 26px
    letter-spacing:1.26px
    line-height: 39px
  @media nondesktop
    h1
      font-size 30px
    p
      font-size 1rem
      line-height:145%
    .btn
      font-size 1rem