.flex-intro
  h2
    font-size 24px
    letter-spacing 1.95px
  .el-image
    display: block
    margin 0 auto
    width 95px
  .entry-content
    font-size 17px
  // @media desktop
  //   .item
  //     max-width 286px

.swiper-home-intro
  width: 100%;
  img
    display: block
    width 100%
    
  .swiper-wrapper .swiper-slide
    margin-bottom:2rem

  .swiper-scrollbar
    height 2px
  
  .swiper-scrollbar-wrapper
    width 100%
    max-width 1000px
    margin-left auto
    margin-right auto
    height 20px
  
  .swiper-scrollbar-drag
    background #000
  
  .swiper-button
    perspective 100px
    background-color #000
    transition ease background-color 200ms, ease transform 200ms
    width 60px
    height 60px
    transform rotatey(0)
    &:hover
      background-color rgba(#000,0.5)
  
  .swiper-button-prev, 
  .swiper-container-rtl .swiper-button-next
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    left: 60px;
    right: auto;
    background-size 17px
    
  .swiper-button-next, 
  .swiper-container-rtl .swiper-button-prev
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    right: 60px;
    left: auto;
    background-size 17px
  
  @media nondesktop
    .swiper-button-prev, 
    .swiper-container-rtl .swiper-button-next
      left 0
    .swiper-button-next, 
    .swiper-container-rtl .swiper-button-prev
      right 0
   
// .flex-profiles
.flex-profiles
  .email
    border-bottom 1px solid white
    &:hover
      border-bottom 1px solid #000
  @media all and (min-width 721px)
    .item
      text-align: center
  @media all and (max-width 720px)
    .item
      width 100%
      display flex
      flex-direction row
      text-align left
      padding-bottom: 2rem
      .el-description
        padding-left:2rem
        h3
          padding-top 0

// .flex-product-grid
.flex-product-grid
  .item-product
    display flex
    flex-direction column
  .el-description
    margin-top: auto
  .item-action
    font-size 14px
  .el-image img
    display: block
    max-width 100%
    height auto
  .btn
    font-size 14px
    padding: 6px 2rem 0.25rem 2rem
  .item-action
    padding-right:1rem
    
  @media all and (max-width 1100px)
    .item
      width 50%
      padding-bottom:2rem
      .el-image img
        width 100%
  @media all and (max-width 640px)
    .item
      width 100%